@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akatab&display=swap");

@font-face {
    font-family: 'Myanmar Khyay';
    src: url('fonts/Khyay-Regular.woff2') format('woff2'),
        url('fonts/Khyay-Regular.woff') format('woff'),
        url('fonts/Khyay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100vh;
    /* Full screen height */
    background: #f2f0e3;
    overflow-y: hidden;
    /* font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; */
    font-family: 'Akshar', sans-serif;


    font-style: normal;
    /* display: flex; */
    font-size: 20px;
    line-height: auto;
}

.main-name {
    /* font-family: 'Inter'; */
    font-family: 'Koulen', sans-serif;
    font-size: 44px;
    position: relative;
    text-align: center;
    top: 20px;
    z-index: -1;
}

.container {
    display: grid;
    color: #1c1c1c;
    /* gap: 10px; */
    /* padding-top: -800px; */
    margin-top: -60px;
    /* Define Grid Layout */
    width: 100%;
    height: 105vh;
    /* background: white; */
    grid-template-columns: repeat(2, 1fr);
    /* First row - 2 columns */
    grid-template-rows: auto auto auto;
    /* 3 rows */
    -webkit-tap-highlight-color: transparent;
}


/* First row: Two columns */
.item1 {
    /* background: lightblue; */
    padding-left: 20px;
    text-align: start;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

.item1:active {
    color: #f2f0e3;
}


/* Second row: Single column (spans full width, image centered) */
.item3 {
    grid-column: 1 / -1;
    /* Spans full width */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-in;
    /* Smooth fade effect */
    /* opacity: 0; */
}

.item3 img {
    width: 500px;
    margin-top: -80px;
    margin-bottom: -30px;

    /* Adjust image size */
    height: 560px;
    /* border-radius: 5%; */
    /* box-shadow: 0 4px 8px 0 #40403b, 0 4px 8px 0 #e2d05a; */
}

.image1 {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {
        opacity: 0.2;
    }

    to {
        opacity: 1;
    }
}

/* Third row: Three columns */
.third-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Three columns */
    /* gap: 10px; */
    grid-column: 1 / -1;
    /* margin-top: 50px; */
    /* Spans full width */
}

.item4 {
    /* background: lightcoral; */
    padding: 20px;
    text-align: start;
    transition: color 0.3s ease-in-out;
}

.item4:active {
    color: #f2f0e3;
}

/* bottomSheet */
.bottom-sheet {
    position: fixed;
    left: 0;
    top: -100%;
    /* Keeps it hidden initially */
    width: 100%;
    height: 90vh;
    /* Adjust height as needed */
    background-color: #f2f0e3;
    color: black;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.3);
    transition: top 0.8s ease-in-out;
    z-index: 1000;
    /* Ensures it appears on top */
    display: flex;
    flex-direction: column;
    /* Allows scrolling inside */
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

/* Content inside the Bottom Sheet */
.sheet-content {
    flex-grow: 1;
    padding: 100px;
    width: 90%;
    max-width: 2000px;
    text-align: center;
    overflow-y: auto;
}

.sheet-content::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
.sheet-content {
    scrollbar-width: none;
    -ms-overflow-style: none;
    /* Hide scrollbar in IE and Edge */
}

/* Close Button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    /* text-decoration: underline; */
    cursor: pointer;
    /* background: black; */
    color: rgb(0, 0, 0);
    margin: 30px;
    padding: 2px 8px 2px 8px;
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.3);
    /* background-color: #f2f0e3; */
    transition: transform 0.1s ease-in-out;
}

.close-btn:active {
    transform: scale(0.9);
}



.item5 {
    /* background: lightblue; */
    padding: 20px;
    text-align: center;
    transition: color 0.3s ease-in-out;
}

.item5:active {
    color: #f2f0e3;
}

a {
    color: inherit;
    /* Inherits color from parent */
    text-decoration: none;
    /* Removes underline */
}

.item6 {
    /* background: lightblue; */
    padding: 20px;
    text-align: end;
    transition: color 0.3s ease-in-out;
}

.item6:active {
    color: #f2f0e3;
}


/* Responsive: Stack on small screens */
@media (max-width: 600px) {
    body {
        overflow: hidden;
        font-size: 12px;
        width: 100vw;
        height: 100vh;
    }

    .main-name {
        font-size: 18px;
    }

    .item1 {
        margin-top: 50px;
    }

    /* .container {
      width: 100%;
      height: 700px;
    } */
    .item3 img {
        padding-bottom: 8px;
        width: 320px;
        /* Adjust image size */
        height: 350px;
    }

    .bottom-sheet {
        height: 75vh;
    }
}

/* the Archieves */
.archives-body {
    /* background-image: linear-gradient(to bottom, rgb(231, 158, 158) 70%, #6f0a0a 100%); */
    /* background-image: linear-gradient(to bottom, #F2F0E3 40%, #d5c980 100%); */
    /* font-size: 2px; */
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: 'Akshar', sans-serif;

    color: #000000;
    background-color: #F2F0E3;
    -webkit-tap-highlight-color: transparent;


}

.archives-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: start;
    margin-top: 20px;
}

.tag1,
.tag2,
.tag3,
.tag4,
.tag5 {
    font-size: 100px;
    margin-bottom: -50px;
    margin-left: 60px;
}


.widget:active {
    transform: scale(0.9);
    opacity: 0.7;
}



@media (max-width:600px) {

    .tag1,
    .tag2,
    .tag3,
    .tag4,
    .tag5 {
        font-size: 45px;
        margin-left: 10px;
        margin-bottom: -4px;
    }

}




/* carPage */

.car-body {
    margin: 0;
    /* background-image: linear-gradient(to bottom, #6a909a 25%, #ef9e4d 100%); */
    background-color: #fdf8e9;

    display: flex;
    height: 100%;
    /* Full height */
    /* background-color: #eddfd1; */
    overflow: hidden;
}



.half-background {
    width: 65vw;
    /* Half the screen width */
    height: 100vh;
    /* Full height */
    background-image: url('assets/images/cars1.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    filter: blur(1.2px);
}


.content {
    top: 50px;
    width: 50vw;
    text-align: justify;
    position: relative;
    padding: 20px 50px 0px 50px;
}

.content h1 {
    margin-top: 250px;
    font-size: large;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.content p {
    font-size: 12px;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 6px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Adding horizontal lines */
.content::before {
    content: "";
    position: absolute;
    left: 5%;
    width: 100%;
    /* Full width of the content */
    height: 2px;
    /* Thickness of the line */
    background-color: rgb(0, 0, 0);
}

.content::before {
    top: 10;
    width: 90%;
    margin-left: 0px;
    /* Line at the top */
}

@media (max-width : 600px) {
    .car-body {
        background-color: #F2F0E3;
        overflow: scroll;
    }

    .half-background {
        width: 0vw;
        /* Half the screen width */
        height: 0vh;
    }

    .content {
        top: 10px;
        width: auto;
        text-align: center;
        position: absolute;
    }

    .content h1 {
        margin-top: 60px;
        font-size: x-large;
        text-align: center;
        /* margin-left: -5%; */
    }

    .content p {
        font-size: 13px;
        text-align: center;
    }

    /* Adding horizontal lines */
    .content::before {
        width: 90%;
        /* Full width of the content */
        height: 1px;
        /* Thickness of the line */
        background-color: rgb(0, 0, 0);
    }
}


/* FYBY */
.youth-body {
    background-color: #fdf8e9;
    overflow: hidden;
}

.youth-body::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}

.content1 {
    display: grid;
    text-align: start;
    position: relative;
    padding: 20px 50px 0px 50px;
    grid-template-columns: repeat(2, 1fr);
}

.h1 {
    font-size: 96px;
    text-align: start;
    letter-spacing: 6px;
    line-height: 88px;
    font-weight: 10px;
    color: #000000;
    font-family: 'Koulen';
    margin: 68px 615px 0px 158px;
}

.bg21 {
    padding: 50px;
    width: 192px;
    height: 192px;
}

.content1 p {
    font-size: 32px;
    color: #000000;
    text-align: start;
    letter-spacing: -6%;
    word-spacing: 8px;
    line-height: 40px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family: 'Akatab', sans-serif;
    margin: 6px 0px 0px 100px;
}

.social-icons {
    margin: 6px 0px 0px 100px;

}

.link {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 32px;
    color: #000000;
    text-align: start;
    font-family: 'Akatab', sans-serif;
}

.social-icons {
    width: 550px;
    text-align: start;
}

.link img {
    margin-top: -50px;
    margin-left: -90px;
}




@media (max-width : 600px) {
    .youth-body {
        background-color: #F2F0E3;
        overflow: hidden;
        margin: 0px;
    }

    .content1 {
        top: -20px;
        width: 0vw;
        grid-template-columns: repeat(1, 1fr);
    }

    .h1 {
        width: 70vw;
        /* margin-top: 180px; */
        font-size: 34px;
        text-align: start;
        letter-spacing: 2px;
        line-height: 38px;
        font-weight: 10px;
        margin-left: 6px ;
        margin-right: 6px;
        padding: 0px 17px 0px 8px;
    }

    .content1 p {
        width: 90vw;
        font-size: 14px;
        letter-spacing: 1%;
        word-spacing: 1px;
        line-height: 14px;
        margin: 6px 3px 0px -140px;
        padding: 6px 0px 0px 106px;
    }


    /* FYBY socials  */
    .social-icons {
        font-size: 14px;
        letter-spacing: 1%;
        word-spacing: 1px;
        line-height: 14px;
        margin: 6px 3px 0px -140px;
        width: 120px;
        padding: 6px 0px 0px 106px;
    }
    .bg21 {
        width: 92px;
        height: 92px;
    }
    .link{
        width: 60vw;
    }
    .link img {
        margin-top: -50px;
        margin-left: -100px;
    }

}

/* Lost-Arts */
.lostArt-body {
    margin: 0;
    /* background-image: linear-gradient(to bottom, #6a909a 50%, #ef9e4d 100%); */
    background-color: #fdf8e9;

    display: flex;
    height: 100%;
    /* Full height */
    /* background-color: #eddfd1; */
    overflow: hidden;
}

.half-background2 {
    width: 65vw;
    /* Half the screen width */
    height: 100vh;
    /* Full height */
    background-image: url('assets/images/lostArt.png');
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    filter: blur(0px);
}


.content2 {
    top: 50px;
    width: 50vw;
    text-align: justify;
    position: relative;
    padding: 20px 50px 0px 50px;
}

.content2 h1 {
    margin-top: 200px;
    font-size: large;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.content2 p {
    font-size: 12px;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 6px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Adding horizontal lines */
.content2::before {
    content: "";
    position: absolute;
    left: 5%;
    width: 100%;
    /* Full width of the content */
    height: 2px;
    /* Thickness of the line */
    background-color: rgb(0, 0, 0);
}

.content2::before {
    top: 10;
    width: 90%;
    margin-left: 0px;
    /* Line at the top */
}

@media (max-width : 600px) {
    .lostArt-body {
        background-color: #fdf8e9;
        overflow: scroll;
    }

    .half-background2 {
        width: 0vw;
        /* Half the screen width */
        height: 0vh;
    }

    .content2 {
        top: 10px;
        width: auto;
        text-align: center;
        position: absolute;
        /* padding: 20px 0px 0px 150px; */
    }

    .content2 h1 {
        margin-top: 60px;
        font-size: largeer;
        text-align: center;
    }

    .content2 p {
        font-size: 13px;
        text-align: center;
    }

    /* Adding horizontal lines */
    .content2::before {
        width: 90%;
        /* Full width of the content */
        height: 1px;
        /* Thickness of the line */
        background-color: rgb(165, 60, 60);
    }
}



/* varsity Memoris */
.varsity-body {
    margin: 0;
    /* background-image: linear-gradient(to bottom, #6a909a 50%, #ef9e4d 100%); */
    background-color: #F2F0E3;
    /* display: flex; */
    height: 100%;
    /* Full height */
    /* background-color: #eddfd1; */
    overflow: auto;
    /* scrollbar-width: none; */
    overflow-x: hidden;
}

.varsity-body::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}


.content4 {
    /* top: 40px; */
    /* width: 70vw; */
    text-align: justify;
    position: relative;
    /* padding: 68px 340px 0px 50px; */
}

.content4 h1 {
    /* margin-top: 180px; */
    font-size: 96px;
    text-align: start;
    letter-spacing: 6px;
    line-height: 88px;
    font-weight: 10px;
    color: #000000;
    font-family: 'Koulen';
    margin: 68px 615px 0px 158px;
}

.content4 p {
    font-size: 32px;
    color: #000000;
    text-align: start;
    letter-spacing: -6%;
    word-spacing: 8px;
    line-height: 40px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family: 'Akatab', sans-serif;
    padding: 6px 340px 0px 152px;
}

.varsitylink {
    padding: 2px;
    box-shadow: 1px 0px 1px 1px #333;
    -webkit-tap-highlight-color: transparent;
}

.varsitylink:active {
    color: #525252;
    transform: scale(0.9);
}

.full-width-img {
    width: 100vw;
    height: auto;
    /* Maintain aspect ratio */
    display: block;
    margin: 80px 0px 80px -152px;
}


@media (max-width : 600px) {
    .varsity-body {
        overflow-x: hidden;
    }

    .content4 {
        top: -20px;
        width: 100vw;
        position: absolute;
    }

    .content4 h1 {
        width: 70vw;
        /* margin-top: 180px; */
        font-size: 34px;
        text-align: start;
        letter-spacing: 2px;
        line-height: 38px;
        font-weight: 10px;
        margin: 68px 170px 0px 15px;

    }

    .content4 p {
        width: 90vw;
        font-size: 14px;
        letter-spacing: 1%;
        word-spacing: 1px;
        line-height: 14px;
        margin: 6px 3px 0px -140px;
        padding: 6px 0px 0px 156px;
    }

    .full-width-img {
        width: 80vw;
        height: auto;
        /* Maintain aspect ratio */
        /* display: block; */
        margin: 8px 0px 8px 0px;
    }

}

/* businessStudies */
.business-body {
    margin: 0;
    /* background-image: linear-gradient(to bottom, #6a909a 50%, #ef9e4d 100%); */
    background-color: #EEECE0;
    /* display: flex; */
    height: 100%;
    /* Full height */
    /* background-color: #eddfd1; */
    overflow: auto;
    /* scrollbar-width: none; */

    overflow: hidden;

}

.business-body::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}
/* .business-body h1{
    width: 60vw;
    background-color: #525252;
} */

.content5 {
    display: grid;
    text-align: justify;
    position: relative;
    grid-template-columns: 2fr 1fr;
}

.bg25  {
    width: 570px;
    height: 713px;
    padding: 100px 0px 137px 20px;
    align-content: end;
}

.business-body h1 {
    font-size: 96px;
    text-align: start;
    letter-spacing: 6px;
    line-height: 88px;
    font-weight: 10px;
    color: #000000;
    font-family: 'Koulen';
    margin: 68px 65px 0px 158px;
}

.content5 p {
    font-size: 32px;
    color: #000000;
    text-align: start;
    letter-spacing: -6%;
    word-spacing: 8px;
    line-height: 40px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family: 'Akatab', sans-serif;
    padding: 6px 0px 0px 158px;
}

.businesslink {
    padding: 2px;
    box-shadow: 1px 0px 1px 1px #333;
    margin-left: 158px;
    -webkit-tap-highlight-color: transparent;
}

.businesslink:active {
    color: #525252;
    transform: scale(0.9);
}


@media (max-width : 600px) {
    .business-body {
        overflow-x: hidden;
    }

    .vl4 {
        width: 90vw;
    }

    .content5 {
        top: -20px;
        width: 100vw;
        position: absolute;
        grid-template-columns: repeat(1, 1fr);
    }

    .content5 h1 {
        width: 70vw;
        /* margin-top: 180px; */
        font-size: 34px;
        text-align: start;
        letter-spacing: 2px;
        line-height: 38px;
        font-weight: 10px;
        margin: 68px 170px 0px 15px;

    }

    .content5 p {
        width: 90vw;
        font-size: 14px;
        letter-spacing: 1%;
        word-spacing: 1px;
        line-height: 14px;
        margin: 6px 3px 0px -140px;
        padding: 6px 0px 10px 156px;
    }

    .businesslink {
        padding: 2px;
        box-shadow: 1px 0px 1px 1px #333;
        margin-left: 15px;
        -webkit-tap-highlight-color: transparent;
    }

    .bg25 {
        position: absolute;
        padding-top: 100vw;
        z-index: -1;
    }

    .bg25 img {

        width: 100vw;
        height: auto;
        padding: 0;

    }

}



/* InProgress */

.progress-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Akshar", sans-serif;
    background-color: #fdf8e9;
}

h1 {
    font-size: 3rem;
    color: #333;
}